<p>The St. Louis Woodworkers Guild is a nonprofit organization. Membership is open to all having interest in working
  with wood. Since its founding in 1984, the Guild has grown to a membership of about 250 woodworkers from the
  beginning amateur to the skilled professional.</p>

<h1>Goals</h1>

<h2>Education</h2>

<p>The SLWG seeks to improve the craftsmanship of its members through <strong>monthly meetings</strong> with
  instructional presentations by members and outside experts.</p>

<img src="assets/about/barrbowl.jpg" class="float-right" alt="by Vic Barr">

<p>Each year we sponsor a weekend seminar/workshop with a renowned expert. In the past we have hosted noted woodworkers
  such as Frank Klausz, Marc Adams, Graham Blackburn, and Jeff Jewitt.</p>

<p>The guild has established a mentor program by pairing more experienced members with beginners to woodworking.
  Furthering this concept, we have setup a program where members host mini-workshops in their home or workshop to
  teach fellow members about a specific topic in woodworking.</p>

<h2>Service</h2>

<p>The Guild also provides service to the community through a toy building program in which toys built by members are
  distributed to children in local area hospitals. We also perform volunteer work at the historic village at Faust
  Park. We have a dedicated space in the park where we have established a workshop to support renovation efforts as
  well as member education. Several members of the Guild perform volunteer work at the St. Louis Museum of
  Transporation. They primarily perform wood restoration on a variety of unique, vintage railroad cars and equipment
  that are displayed there.</p>

<p>Visitors are welcome to attend the monthly meetings of the SLWG to learn about us first hand. Please look at the
  Events Calendar, Newsletters, and Member Benefits pages on this web site for more information.</p>

<p>The St. Louis Woodworkers Guild is an all volunteer, 501-C(3) nonprofit, tax-deductible organization.  Money
  accumulated through donations, membership dues, at meetings through raffles and tool sales, and through tuition for
  workshops all go directly into supporting Guild activities in education, the shared workshop at Faust Park,
  community outreach, expenses for meeting-room fees, etc.</p>

<p><strong>NEW: Submit your donations on-line at <a
  href="https://www.paypal.com/us/webapps/mpp/send-money-online">https://www.paypal.com/us/webapps/mpp/send-money-online</a>
</strong></p>
