<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">SLWG</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="home">Home</a></li>

      <slwg-navbar-dropdown name="About" [subs]="[
        {
          link: 'about',
          title: 'About SLWG'
        },
        {
          link: 'contact',
          title: 'Contact Us'
        }
      ]"></slwg-navbar-dropdown>

      <slwg-navbar-dropdown name="Resources" [subs]="[
        {
          link: '',
          title: 'Announcements'
        },
        {
          link: '',
          title: 'Event Calendar'
        },
        {
          link: '',
          title: 'Guild Library'
        },
        {
          link: '',
          title: 'Tool Recalls'
        }
      ]"></slwg-navbar-dropdown>

      <slwg-navbar-dropdown name="Links" [subs]="[
        {
          link: '',
          title: 'Corporations'
        },
        {
          link: '',
          title: 'Guilds and Clubs'
        },
        {
          link: '',
          title: 'Info Sources'
        },
        {
          link: '',
          title: 'Nearby Professionals'
        },
        {
          link: '',
          title: 'Kits/Supplies'
        },
        {
          link: '',
          title: 'Sponsors'
        },
        {
          link: '',
          title: 'Members\' Websites'
        }
      ]"></slwg-navbar-dropdown>

      <li class="nav-item"><a class="nav-link" href="#">Newsletter</a></li>

      <li class="nav-item"><a class="nav-link" href="#">Member Benefits</a></li>

      <li class="nav-item"><a class="nav-link" href="#">Meetings</a></li>

      <li class="nav-item"><a class="nav-link" href="#">Community</a></li>

      <slwg-navbar-dropdown name="Galleries" [subs]="[
        {
          link: '',
          title: 'Member Galleries'
        },
        {
          link: '',
          title: 'Guild Events'
        }
      ]"></slwg-navbar-dropdown>

      <slwg-navbar-dropdown name="Members" [subs]="[
        {
          link: '',
          title: 'Forum'
        },
        {
          link: '',
          title: 'Websites/Services'
        },
        {
          link: '',
          title: 'Private Site'
        }
      ]"></slwg-navbar-dropdown>

      <li class="nav-item"><a class="nav-link" href="#">Sponsors</a></li>
    </ul>
  </div>
</nav>
