<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">SLWG</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          (click)="isNavbarCollapsed = !isNavbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let item of navbarContent" [class.dropdown]="!item.hasOwnProperty('subs')">
        <a *ngIf="!item.hasOwnProperty('subs')" class="nav-link" [href]="item['href']">{{item.title}}</a>

        <div *ngIf="item.hasOwnProperty('subs')" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="{{item['title']}}DropDown" role="button"
             aria-haspopup="true" aria-expanded="false">{{item['title']}}</a>

          <div class="dropdown-menu" ngbDropdownMenu attr.aria-labelledby="{{item['title']}}Dropdown">
            <a *ngFor="let sub of item['subs']" class="dropdown-item" [href]="sub.href">{{sub.title}}</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
