<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">SLWG</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>

      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="#" id="aboutDropdown" role="button"
           aria-haspopup="true" aria-expanded="false">About</a>

        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="aboutDropdown">
          <a class="dropdown-item" href="#about">About SLWG</a>

          <a class="dropdown-item" href="#contact">Contact Us</a>
        </div>
      </li>

      <li class="nav-item"><a class="nav-link" href="#">Resources</a></li>

      <li class="nav-item"><a class="nav-link" href="#">Newsletter</a></li>

      <li class="nav-item"><a class="nav-link" href="#">Member Benefits</a></li>

      <li class="nav-item"><a class="nav-link" href="#">Meetings</a></li>

      <li class="nav-item"><a class="nav-link" href="#">Community</a></li>

      <li class="nav-item"><a class="nav-link" href="#">Galleries</a></li>

      <li class="nav-item"><a class="nav-link" href="#">Members</a></li>

      <li class="nav-item"><a class="nav-link" href="#">Sponsors</a></li>
    </ul>
  </div>
</nav>
