<h1>Contact Us</h1>

<h2>Current Officers</h2>

<div class="row">
  <slwg-officer-info class="col-sm-6"
    title="President"
    name="Bob Brinkman"
    phone="3143781893"
    email="president@slwg.org"
    face="assets/officer-faces/face1.png"></slwg-officer-info>

  <slwg-officer-info class="col-sm-6"
    title="Vice-President"
    name="Wayne Watson"
    phone="3145413047"
    email="vicepresident@slwg.org"
    face="assets/officer-faces/face2.png"></slwg-officer-info>
</div>

<div class="row">
  <slwg-officer-info class="col-sm-4"
    title="Secretary"
    name="Keith Lissant"
    phone="3149621907"
    email="secretary@slwg.org"
    face="assets/officer-faces/face3.png"></slwg-officer-info>

  <slwg-officer-info class="col-sm-4"
    title="Treasurer"
    name="Tom Tierney"
    phone="3144121817"
    email="treasurer@slwg.org"
    face="assets/officer-faces/face4.png"></slwg-officer-info>

  <slwg-officer-info class="col-sm-4"
    title="Class Coordinator"
    name="Joe Paszkiewicz"
    phone="3145703653"
    email="jpaszkiewiczjr@gmail.com"
    face="assets/officer-faces/face5.png"></slwg-officer-info>
</div>

<h2>Snail Mail</h2>

<p>St. Louis Woodworkers Guild<br>
P. O. Box 411766<br>
St. Louis, MO 63141-9998</p>
