<div class="row">
  <div class="col">
    <h1>Announcements</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>New meeting location:</h2>

    <p>Moolah Shrine
      <br>
      12545 Fee Fee Road,
      <br>
      St. Louis, MO 63146
      <br>
      <a href="tel:+13148786301">(314) 878-6301</a>
      <br>
      <a href="https://www.moolah.org/" target="_blank">www.moolah.org</a></p>

    <p>Click on the map below to get directions.</p>

    <p><a [href]="link" target="_blank"><img src="assets/MoolahShrineMap.jpg" alt="Moolah Shrine map"></a></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>October Shop Hours</h2>

    <table class="table">
      <tr>
        <td>Oct 2-3</td>
        <td>10:00 am &ndash; 2:00 pm</td>
      </tr>
      <tr>
        <td>Oct 6</td>
        <td>Shop closed for Picnic at Daniel Boone home</td>
      </tr>
      <tr>
        <td>Oct 7</td>
        <td>9:00 am &ndash; 5:00 pm</td>
      </tr>
      <tr>
        <td>Oct 9-10</td>
        <td>10:00 am &ndash; 2:00 pm</td>
      </tr>
      <tr>
        <td>Oct 13-14</td>
        <td>9:00 am &ndash; 5:00 pm</td>
      </tr>
    </table>

    <p><strong>Only 2018 membership cards will be honored!</strong></p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Events</h2>

    <dl>
      <dt>October 18 &ndash; Monthly Meeting</dt>
      <dd>Tom and Leslie Tupper</dd>

      <dt>October 25 &ndash; Monthly Meeting</dt>
      <dd>
        <p>Iowa Bus Tour: Let's go up north to Iowa for the day and visit Woodsmith Magazine, Bench Craft and Wood
          Magazine. More details coming. If you want to participate, please send an email to Mike Sistek at <a
            href="mailto:sistekmw@charter.net">sistekmw@charter.net</a>.</p>

        <p>There will also be a $40.00 deposit to hold your seat and you can send a check to</p>

        <p style="margin-left: 2em">P.O Box 411766
          <br>
          St. Louis, MO 63141-9998
        </p>
        <p>or through PayPal using the treasurer@slwg.org email address.</p>
      </dd>

      <dt>November 15 &ndash; Monthly Meeting</dt>
      <dd>Panel of Experts discuss various wood working topics. Get your questions ready!</dd>

      <dt>November 17-18 &ndash; Mini-Workshop</dt>
      <dd>Decorative Veneering 9:00 AM – 4:00 PM
        <br>
        Cost: $25.00. Tool list to be determined. Veneer provided.
      </dd>

      <dt>February 14-16 &ndash; Weekend Workshop</dt>
      <dd>
        <p>Woodworking with Doug Stowe</p>

        <p>In 1977 Doug founded the Eureka Springs Guild of Artists and Craftspeople. In 1995, he started writing books
          and articles about woodworking. In 1998, he was one of three founders of the <a href="https://essa-art.org/"
                                                                                          target="_blank">Eureka Springs
            School of the Arts.</a></p>

        <p>In 2001 he started the Wisdom of the Hands Program at the <a href="http://clearspringschool.org/"
                                                                        target="_blank">Clear Spring School</a>, a small
          independent school in Eureka Springs, Arkansas, to prove the value of wood shop and hands-on learning. In 2006
          he began his blog, <i><a href="https://wisdomofhands.blogspot.com/" target="_blank">Wisdom of the
            Hands</a></i>. In 2009, the <a
            href="http://www.arkansasarts.org/living-treasure-award/doug-stowe?A=SearchResult&SearchID=3251654&ObjectID=9509385&ObjectType=35"
            target="_blank">Arkansas Arts Council</a> named Doug an Arkansas Living Treasure for his work with wood and
          in education.</p>
      </dd>
    </dl>
  </div>
</div>
