<div class="row">
  <div class="col">
    <p>Welcome to the St. Louis Woodworkers Guild (SLWG). The Guild is a non-profit organization open to all woodworkers
      in the St. Louis metropolitan area and beyond. Our membership includes residents from the outlying areas of both
      Missouri and Illinois. The SLWG welcomes professionals, hobbyists, beginners and those who are simply thinking
      about getting into the hobby of woodworking. Please explore our site to find out more about who we are, what we
      do, and the benefits of being a member.</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Please check the
      <a href="https://groups.google.com/forum/?hl=en#!forum/st-louis-woodworkers-guild" target="_blank">forum</a>
      (members only) for the latest Video of the Month.</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <slideshow minHeight="400px" [imageUrls]="imageUrls" [autoPlay]="true" [showCaptions]="false"[lazyLoad]="true"
               [autoPlayWaitForLazyLoad]="true" [autoPlayInterval]="4000"></slideshow>
  </div>
</div>
