<p>Welcome to the St. Louis Woodworkers Guild (SLWG). The Guild is a non-profit organization open to all woodworkers in
  the St. Louis metropolitan area and beyond. Our membership includes residents from the outlying areas of both
  Missouri and Illinois. The SLWG welcomes professionals, hobbyists, beginners and those who are simply thinking
  about getting into the hobby of woodworking. Please explore our site to find out more about who we are, what we do,
  and the benefits of being a member.</p>

<p>Please check the Forum for the latest Video of the Month.</p>

<h2><a href="#Announcements">Announcements</a></h2>
<h2><a href="#EventsCalendar">Events Calendar</a></h2>
